<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

	<h1>All Users</h1>
		<div class="well bs-component">

      <% @users.each do |u| %>
      <div class="row user-list">
        <div class="col-sm-3"><%= link_to image_tag(u.picture.url(:small), class: "img-circle user-list-photos", width: 80), u %></div>
        <div class="col-sm-9">
          <h4><strong><%= u.firstName + " " + u.lastName %></strong></h4>
          <%= u.email %>
        </div>
        
      </div>
      <% end %>
 
		</div>
	</div>
</div>
